<!-- Modal -->
<div id="search_result_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center" id="warning-text"><%= @message %></p>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" title`="Ok">Create</button>
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" title="Cancel">Cancel</button>
      </div>
    </div>

  </div>
</div>
