<div class="row">
  <div class="col-xs-12">
    <div class="reservation-main-box">
      <h1>Agreement</h1>
    </div>
    <div class="row">
      <div class="available-lodging">
        <div class="col-xs-12">
          <p>When coming to Breitenbush, you are coming to a place where things work differently in significant ways from the way they work elsewhere. Below are nine statements of our policies and practices. We ask that you please read each carefully before agreeing to abide by them.</p>
        </div>
        <div class="col-lg-12">

          <div class="agreement-box">
            <div class="checkbox">
              <label class="icheck">
                <input type="checkbox">
              </label>
            </div>
            <h6>Clothing-optional Soaking Areas </h6>
            <p>Soaking areas are clothing optional. Use what is comfortable for you in an atmosphere of sanctuary and respect.</p>
          </div>

          <div class="agreement-box">
            <div class="checkbox">
              <label class="icheck">
                <input type="checkbox">
              </label>
            </div>
            <h6>Alcohol and Drugs/Intoxicants</h6>
            <p>Alcohol and Recreational Drugs (including marijuana) are not permitted at Breitenbush.We have one covered outdoor location where tobacco smoking is permitted. </p>
          </div>

          <div class="agreement-box">
            <div class="checkbox">
              <label class="icheck">
                <input type="checkbox">
              </label>
            </div>
            <h6>No Pets </h6>
            <p>Breitenbush is a pet free facility.</p>
          </div>

          <div class="agreement-box">
            <div class="checkbox">
              <label class="icheck">
                <input type="checkbox">
              </label>
            </div>
            <h6>Bedding </h6>
            <p>All beds come with a fitted bottom sheet only. Breitenbush rents bedding and towels. If you would like to add linens to your reservation, please go back to the previous screen.</p>
          </div>

          <div class="agreement-box">
            <div class="checkbox">
              <label class="icheck">
                <input type="checkbox">
              </label>
            </div>
            <h6>Cell Phones and Internet  </h6>
            <p>Breitenbush is out of cell phone range and does not provide Internet or phone access. </p>
          </div>

          <div class="agreement-box">
            <div class="checkbox">
              <label class="icheck">
                <input type="checkbox">
              </label>
            </div>
            <h6>Traction Devices </h6>
            <p>Date dependent (if res spans Nov 1st – April 1st). Chains or traction tires are required Nov 1st through April 1st.</p>
          </div>

          <div class="agreement-box">
            <div class="checkbox">
              <label class="icheck">
                <input type="checkbox">
              </label>
            </div>
            <h6>Electricity </h6>
            <p>We have very limited electrical power. Please leave your tea pots, hair dryers, hot plates and other high consumption devices at home.</p>
          </div>

          <div class="agreement-box">
            <div class="checkbox">
              <label class="icheck">
                <input type="checkbox">
              </label>
            </div>
            <h6>Caffeine </h6>
            <p>We do not serve caffeinated beverages. Please be prepared to take care of your own needs (hot water and filters are provided).</p>
          </div>

          <div class="agreement-box">
            <div class="checkbox">
              <label class="icheck">
                <input type="checkbox">
              </label>
            </div>
            <h6>Driving Directions </h6>
            <p>Please use the driving directions provided in the email confirmation. GPS or Internet directions may get you lost.</p>
          </div>
          <div class="reservation-note">
            <p>If you have questions about these policies, please contact our Reservations Office at (503) 854-3320 or <a href="#" title="Email" target="_parent">email</a>.</p>
          </div>

        </div>
        <div class="col-xs-12">
          <button type="submit" name="" value="" class="btn btn-success" title="Agree And Continue">Agree And Continue</button>
          <button type="submit" name="" value="" class="btn btn-success" title="Return To Reservation Details">Return To Reservation Details</button>
          <button type="submit" name="" value="" class="btn btn-danger" title="Cancel Reservation And Log Out">Cancel Reservation And Log Out</button>
        </div>
      </div>
    </div>
  </div>
</div>