<div class="row">
  <div class="col-xs-12">
    <div class="reservation-main-box">
      <h1>Breitenbush Account</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5">
        <div class="login-main-box">
          <h5 class="ext-account">Existing Account:</h5>
          <input type="email" name="" value="" placeholder="Email"/>
          <input type="password" name="" value="" placeholder="Password"/>
          <a href="#" title="Forgot password?" target="_parent" class="forgot-pass">Forgot password?</a>
          <div class="clearfix"></div>
          <button type="submit" name="" value="" class="btn btn-success" title="Sign In">Sign In</button>
        </div>
      </div>
      <div class="col-lg-2 1 col-md-2 col-sm-2">
        <div class="login-saparator">
          <p>
            <span>
              Or
            </span>
          </p>
        </div>
      </div>
      <div class="col-lg-4 1 col-md-4 col-sm-5">
        <div class="login-main-box">
          <h5>New Account:</h5>
          <p>If you have made an overnight reservation before, please enter your email address below. If you have not, please call BHS at (503) 854-3320 to set up an account.</p>
          <%= form_tag  guests_seach_user_path , method: :post do %>
            <%= text_field_tag :entity, nil, placeholder: "Email"%>
            <%= submit_tag "Set up", class: "btn btn-success", title: "Set Up"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>