<p>
  Hi,
</p>
<p>
  Your Breitenbush account is successfully created. Please login using following credentials.
</p>
<p>
  Your login id is : <%= @entity[:email]%><br>
  Your password is : <%= @entity["password"]%>
</p>
