<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center font-size-60"><i class="fa fa-exclamation-triangle"></i></p>
        <p class="text-center" id="warning-text">For weekends and Holidays, there is a two night minimum </p>
      </div>
      <div class="modal-footer text-center">
      <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" title="Ok">Ok</button>
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" title="Cancel">Cancel</button>
      </div>
    </div>

  </div>
</div>
