<div class="modal fade" id="lodgingInfoModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= @lodging_rates["lodging_type"] %></h4>
      </div>
      <div class="modal-body">
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 pull-right">
          <div class="breitenbush-popup-img">
            <img src="/assets/img-thumb.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-7 col-xs-12 pull-left">
          <p><%= t("lodging.#{@lodging_rates["lodging_type"]}")%></p>
        </div>

        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
          <div class="price-table-box">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Per Night per person</th>
                  <th>Sun-thur</th>
                  <th>Fri, Sat, Holidays</th>
                  <th>Total price, per person for days selected</th>
                </tr>
                </thead>
                <tbody>
                <% ["adult", "child", "teen", "toddler"].each do |age| %>
                  <tr>
                    <td>
                      <%= age %>
                    </td>
                    <td>
                      $73.00
                    </td>
                    <td>$78.00</td>
                    <td>$229.00</td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-success" data-dismiss="modal" title="Reserve Now">Reserve Now</button>
      </div>
    </div>
  </div>
</div>