
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="reservation-main-box">
        <h1>Personal Retreat Availability</h1>
      </div>
      <div class="row">
        <div class="reservation-form-box">
          <div class="col-md-8 col-sm-12">
            <div class="row">
              <div class="col-xs-12">
                <h5>Check specific dates or browse availablilty on the calendar.</h5>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Arrival</p>
                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                  <input class="form-control" size="16" type="text" value="" readonly>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input2" value="" />
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Number Of Nights <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Number Of Nights"></i></p>
                <select class="select2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Departure <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Departure"></i></p>
                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                  <input class="form-control" size="16" type="text" value="" readonly>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input2" value="" />
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p># Of Guests (including children) <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="# Of Guests (including children)"></i></p>
                <select class="select2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Gender <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Gender"></i></p>
                <div class="btn-group custom-input" data-toggle="buttons">
                  <label class="btn btn-default radio-button-group">
                    <input type="radio" name="gender" value="Male" /> Male
                  </label>
                  <label class="btn btn-default radio-button-group">
                    <input type="radio" name="gender" value="Female" /> Female
                  </label>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Willing To Share <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Willing To Share"></i></p>
                <div class="btn-group custom-input" data-toggle="buttons">
                  <label class="btn btn-default radio-button-group">
                    <input type="radio" name="wts" value="Yes" /> Yes
                  </label>
                  <label class="btn btn-default radio-button-group">
                    <input type="radio" name="wts" value="Guaranteed Privacy" /> Guaranteed Privacy
                  </label>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-12 col-xs-12">
                <p>What is the minimum number of beds needed for your party? <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="What is the minimum number of beds needed for your party?"></i></p>
              </div>
              <div class="col-md-6 col-xs-12">
                <select class="select2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="calendar-box">
              <!-- <img src="assets/images/calendar-img.png" alt=""> -->
              <div id="datetimepicker12"></div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12 col-xs-12">
            <button type="submit" name="" value="" class="btn btn-success">Check Availability</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>


</script>
