/*========================= fonts ===================================*/
$natosans-reg: 'noto_sansregular';
$natosans-bold: 'noto_sansbold';/*========================= color ===================================*/
$white: #fff;
$black: #000;
$red: #ff0000;
$gray: #555;
$green: #5cb85c;
$dark-green: #0b600b;
$light-gray: #cdcdcd;
$danger: #d9534f;
$warning: #f0ad4e;
$info: #5bc0de;
$light-red:#ff545c;
/*========================= Text Transform ===================================*/
$txt-uppercase: uppercase;
$txt-normal: none;
$m-bot-0:0px !important;
$error-font-size:60px;



	